<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asignar ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-button  (click)="scan()" expand="block" style="height: 45px;
                                                    margin: 0.65em;">
    Escanear código
  </ion-button>

  <ion-item>
    <ion-icon slot="end" name="search" id="search-icon" (click)="searchByISBN(isbnToSearch)"></ion-icon>
    <ion-input placeholder="Buscar por ISBN" [(ngModel)] = "isbnToSearch"></ion-input>
  </ion-item>

  <h6 style="text-align: center; margin: 0.65em; color: gray;" *ngIf="book == null">
    Escanée el código de barras del libro, o escriba el ISBN
    para obtener los datos del mismo.
  </h6>

  <div *ngIf="book != null">
    <ion-card style="background-color:rgba(223, 223, 223, 0.589);">
      <ion-card-header style="text-align: center;">
          <ion-card-title>{{book.titulo}}</ion-card-title>
        <ion-card-subtitle>{{book.autor}}</ion-card-subtitle>
        <ion-card-subtitle>{{book.fechaPublicacion | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card>
        <ion-item *ngIf="book.editorial != null">
          <p>Editorial: <a>{{book.editorial}}</a></p>
        </ion-item>
        <ion-item>
          <p>Idioma: <a>{{book.idioma}}</a></p>
        </ion-item>
        <ion-item>
          <p>Stock: <a>{{book.stock}}</a></p>
        </ion-item>
      </ion-card>
    </ion-card>

    <ion-item style="margin: 0.65em;
              margin-bottom: 0 !important;">
      <p *ngIf="book.ubicacionId != 1">Ubicación actual: <a style="color: brown;">{{book.ubicacionId}}</a></p>
      <p *ngIf="book.ubicacionId == 1">El libro no se encuentra ubicado en ninguna estantería</p>
    </ion-item>

    <ion-item style="margin: 0.65em;
                    margin-top: 0;">
      <ion-label >Nueva ubicación: </ion-label>
      <ion-input style="color: seagreen;" [(ngModel)] = "newUbication" type="number"></ion-input>
    </ion-item>

    <ion-button *ngIf="book != null" expand="block" (click)="updateUbication(book.isbn, newUbication)"
                style="height: 45px;
                      margin: 0.65em;">
      Actualizar ubicación
    </ion-button>

  </div>
  
</ion-content>