<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eliminar libro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<!-- Escáner -->  
  <ion-button  (click)="scan()" expand="block" style="height: 45px;
                                                    margin: 0.65em;">
    Escanear código
  </ion-button>

  <ion-item>
    <ion-icon slot="end" name="search" id="search-icon" (click)="searchByISBN(isbnToSearch)"></ion-icon>
    <ion-input placeholder="Buscar por ISBN" [(ngModel)] = "isbnToSearch"></ion-input>
  </ion-item>

  <!-- Header -->
  <h6 style="text-align: center; margin: 0.65em; color: gray;" *ngIf="book == null">
    Escanée el código de barras del libro, o escriba el ISBN
    para obtener los datos del mismo.
  </h6>
  
  <div *ngIf="book != null">
    <ion-card style="background-color:rgba(223, 223, 223, 0.589);"> 
      <!-- Datos del libro -->
      <ion-card-header style="text-align: center;">
          <ion-card-title>{{book.titulo}}</ion-card-title>
        <ion-card-subtitle>{{book.autor}}</ion-card-subtitle>
        <ion-card-subtitle>{{book.fechaPublicacion | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card>
        <ion-item *ngIf="book.editorial != null">
          <p>Editorial: <a>{{book.editorial}}</a></p>
        </ion-item>
        <ion-item>
          <p>Idioma: <a>{{book.idioma}}</a></p>
        </ion-item>
        <ion-item>
          <p>Estantería: <a>{{book.ubicacionId}}</a></p>
        </ion-item>
        <ion-item>
          <p>Stock: <a>{{book.stock}}</a></p>
        </ion-item>
      </ion-card>
    </ion-card>

    <!-- botónes -->
    <ion-button  (click)="deleteBook(book.isbn)" expand="block" color="danger"
                  style="height: 45px;
                  margin: 0.65em;">
      Eliminar libro
    </ion-button>
  </div>
  
</ion-content>