ion-menu-button {
    color: var(--ion-color-primary);
  }

ion-content {
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto; 
  &::-webkit-scrollbar {
    display: none;
  } 

  background-color: white;
}