<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Libro</ion-title>
  </ion-toolbar>
</ion-header>


<!-- Acá va el código de la cámara. -->


<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button (click)="scan()" expand="block" style="height: 45px; margin: 0.65em;">
      Escanear código
    </ion-button>
    <ion-item>
      <ion-icon slot="end" name="search" (click)="getBookToAdd(isbnToSearch)"></ion-icon>
      <ion-input placeholder="Buscar por ISBN" [(ngModel)]="isbnToSearch"></ion-input>
    </ion-item>

    <div *ngIf='book == null'>
      <h6 style="text-align: center; margin: 1em; color: gray; font-size: smaller;">
        Escanée el código de barras del libro, o escriba el ISBN para obtener los datos del mismo.
      </h6>
    </div>


    <div *ngIf='book != null'>
      <ion-card style="background-color:rgba(223, 223, 223, 0.589);">
        <ion-card-header style="text-align: center;">
          <ion-card-title>{{book.titulo}}</ion-card-title>
          <ion-card-subtitle>{{book.autor}}</ion-card-subtitle>
          <ion-card-subtitle>{{book.fechaPublicacion | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card>
          <ion-item>
            <p>Editorial: <a>{{book.editorial}}</a></p>
          </ion-item>
          <ion-item>
            <p>Idioma: <a>{{idiomaActual}}</a></p>
          </ion-item>
        </ion-card>

      </ion-card>

      <!-- Si el libro no está registrado en la BD: -->
      <h6 style="text-align: center; margin: 1em; color: gray;"></h6>

      <ion-label style="margin: 1em;">Ingrese la cantidad de libros a ingresar:</ion-label>
      <ion-input [(ngModel)]="cantidad"
        style="margin-left: 10%; margin-right: 10%; background-color: rgb(228, 228, 228); width:80%"
        placeholder="Cantidad" type="number">
      </ion-input>

      <ion-label style="margin: 1em;">Ingrese la estantería para ubicar el libro:</ion-label>
      <ion-input [(ngModel)]="ubicacion"
        style="margin-left: 10%; margin-right: 10%; background-color: rgb(228, 228, 228); width:80%"
        placeholder="Ubicación" type="number">
      </ion-input>
      <br>

      <div style="margin-left: 5%; margin-right: 5%; width: 90%;">
        <ion-button expand="block" style="border-radius: 5px;" (click)="addBook()">Registrar</ion-button>
        <ion-button expand="block" fill="outline" style="border-radius: 5px;" (click)="cancel()">Cancelar</ion-button>
      </div>
    </div>

  </div>
</ion-content>