<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card *ngFor="let book of books" style="background-color:rgba(223, 223, 223, 0.589);">
      <ion-card-header style="text-align: center;">
          <ion-card-title>{{book.titulo}}</ion-card-title>
        <ion-card-subtitle>{{book.autor}}</ion-card-subtitle>
        <ion-card-subtitle>{{book.fechaPublicacion | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card>
        <ion-item *ngIf ="book.editorial != null">
          <p>Editorial: <a>{{book.editorial}}</a></p>
        </ion-item>
        
        <ion-item>
          <p>Idioma: <a>{{book.idioma}}</a></p>
        </ion-item>

        <ion-item>
          <p>Ubicación: <a>{{book.ubicacionId}}</a></p>
          <ion-icon slot="end" name="pencil" id="modify-icon"
                    [routerLink] = "['../set-ubication', book.isbn]">
          </ion-icon>
        </ion-item>

        <ion-item>
          <p>Stock: <a>{{book.stock}}</a></p>
          <ion-icon slot="end" name="pencil" id="modify-icon"
                    [routerLink] = "['../update-stock', book.isbn]">
          </ion-icon>
        </ion-item>
      </ion-card>

      <ion-card style="box-shadow: 0px 0px 0px;
                      background-color: transparent;">
        <ion-button expand="block" color="danger" (click) = "deleteBook(book.isbn)"
                    style="height: 30px;">
          Eliminar libro
        </ion-button>
      </ion-card>
    </ion-card>

</ion-content>