ion-menu-button {
    color: var(--ion-color-primary);
  }

#search-icon{
  color: var(--ion-color-primary);
}#search-icon:hover{
  color: grey;
}

ion-content {
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

#div-input-rigth{
  color: seagreen;
  width: 20%;
  background-color: aqua;
  margin-left: 50% !important;
}

 #button-see-information{
  height: 20px; 
  margin-top: -2px; 
}
 
ion-content {
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto; 
  &::-webkit-scrollbar {
    display: none;
  } 

  background-color: white;
}