<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item style="margin-top: 0.65em;">
    <ion-icon slot="end" name="search" id="search-icon" (click)="getBooksOfUbication(ubicationToSearch)"></ion-icon>
    <ion-input placeholder="Buscar ubicación" [(ngModel)] = "ubicationToSearch"></ion-input>
  </ion-item>

  <h6 style="text-align: center; margin: 0.65em; color: gray;" *ngIf="books == null">
    Ingrese la ubicación a inventariar
  </h6>

  <div *ngIf="books != null">
    <ion-card *ngFor="let book of books" style="background-color:rgba(223, 223, 223, 0.589);">
      <ion-card-header style="text-align: center; margin-bottom: -1.5em;" (dblclick)="hide(book)">
        <ion-card-title>{{book.titulo}}</ion-card-title>
        <ion-card-subtitle>{{book.autor}}</ion-card-subtitle>
        <div *ngIf ="book.hideInformation == true">
          <p>Idioma: <a>{{book.idioma}}</a></p>
          <p>Editorial: <a>{{book.editorial}}</a></p>
        </div>
        <p style="font-size: 20px;">Stock: <a style="font-size: 20px;">{{book.stockDelSistema}}</a></p>
      </ion-card-header>

      <ion-card>
        <div>
          <ion-item>
            <ion-label position="float">Ingresar stock: </ion-label>
            <ion-input  type="number" (change)="updateStockOfBook($event.target.value, book)"
                        style="color: seagreen;">
            </ion-input>
          </ion-item>
        </div>
      </ion-card>

      <ion-button expand="block" color="translucent" (click)="hide(book)" id="button-see-information">
        <ion-icon *ngIf ="book.hideInformation == true" name="chevron-up-outline" color="primary"></ion-icon>
        <ion-icon *ngIf ="book.hideInformation == false" name="chevron-down-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-card>

    <ion-button expand="block" (click)="addInventory(books)"
                style="height: 45px;
                      margin: 0.65em;">
      Cerrar inventario
    </ion-button>
  </div>
</ion-content>
