<!-- Header -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modificar libro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="margin-left: 0">

  <!-- Escáner -->
  <ion-button (click)="scan()" expand="block" style="height: 45px; margin: 0.65em;">
    Escanear código
  </ion-button>
  <ion-item>
    <ion-icon slot="end" name="search" id="search-icon" (click)="searchByISBN(isbnToSearch)"></ion-icon>
    <ion-input placeholder="ISBN" [(ngModel)]="isbnToSearch" style="width: 80%;"></ion-input>
  </ion-item>

  <!-- Header -->
  <h6 *ngIf="book == null" style="text-align: center; margin: 1em; color: gray;">Escanée el código de barras del libro,
    o escriba el ISBN
    para obtener los datos del mismo.</h6>
  <br>

  <ion-card *ngIf="book != null">
    <ion-item lines="full" text-wrap style="margin-left: 5%; margin-right: 5%; width: 90%; width: auto;">
      <ion-label style="color: rgb(189, 189, 189); font-size: 14.9pt;" text-wrap>
        Escriba sobre los campos que desee modificar.
      </ion-label>
    </ion-item>

    <!-- Datos del libro -->
    <br>
    <div style="width: 88%; margin-left: 6%; margin-right: 6%;">
      <ion-label style="font-weight: bold;">Título</ion-label>
      <ion-input [(ngModel)]="mTitulo" placeholder={{book.titulo}}
        style="background-color: rgb(247, 247, 247); border-radius: 5px;">
      </ion-input>
      <br>
      <ion-label style="font-weight: bold;">Autor</ion-label>
      <ion-input [(ngModel)]="mAutor" placeholder={{book.autor}}
        style="background-color: rgb(247, 247, 247); border-radius: 5px;">
      </ion-input>
      <br>
      <ion-label style="font-weight: bold;">Fecha de publicación</ion-label>
      <ion-input [(ngModel)]="mFecha" placeholder="{{book.fechaPublicacion | date: 'dd/MM/yyyy'}}"
        style="background-color: rgb(247, 247, 247); border-radius: 5px; color: black;" disabled = true>
      </ion-input>
      <ion-input [(ngModel)]="mFechaModificada"
        style="background-color: rgb(247, 247, 247); border-radius: 5px;" type=date>
      </ion-input>
      <br>
      <ion-label style="font-weight: bold;">Editorial</ion-label>
      <ion-input [(ngModel)]="mEditorial" placeholder={{book.editorial}}
        style="background-color: rgb(247, 247, 247); border-radius: 5px;">
      </ion-input>
      <br>
      <ion-label style="font-weight: bold;">Idioma</ion-label>
      <ion-input [(ngModel)]="mIdioma" placeholder={{book.idioma}}
        style="background-color: rgb(247, 247, 247); border-radius: 5px;"></ion-input>
      <br>


      <!-- Botónes -->
      <ion-button expand="block" style="border-radius: 5px;" (click)="modify()">Modificar</ion-button>
      <ion-button expand="block" fill="outline" style="border-radius: 5px;" (click)="cancel()">Cancelar</ion-button>
    </div>


  </ion-card>

</ion-content>