<ion-content [fullscreen]="true">

  <div id="container">
    <ion-title id="titleLogin">Librería</ion-title>

    <img id="img-login"
      src="../../assets/imgs/691d43624a3f2cbe1268e7e20a030fe8-icono-de-pila-de-libros-by-vexels.png" alt=""
      width="72" height="72">

    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
      <ion-card>
        <ion-card-content>
            
                <ion-item>
                  <ion-label position="floating">Correo electrónico</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <div class="validation-errors" style="margin-top: 0.5em;">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="validation-errors" style="margin-top: 0.5em;">
                  <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              
                <label class="error-message">{{errorMessage}}</label>
              
        </ion-card-content>
      </ion-card>

      <ion-button expand="block" type="submit" [disabled]="!validations_form.valid || loading"
                  style="height: 40px;
                        margin: 0.65em;">
        {{ loading ? 'Ingresando...' : 'Ingresar' }}
      </ion-button>
      
    </form>
  </div>
</ion-content>

