#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #title {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  ion-icon {
    font-size: 64px;
  }

  /* #titleLogin{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -20%;
    //transform: translateY(-50%);
  }

  #img-login{
    //position: absolute;
    top: -15%;
  } */